@model ClienteCrud.Dominio.Modelo.Cliente

@{
    ViewBag.Title = "Apagar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cliente: @Model.Nome</h2>
<ul>
    <li><strong>Sexo:</strong> @Model.Sexo</li>
    <li><strong>Endereço:</strong> @Model.Endereco</li>
</ul>
